<%- include('partials/postheader'); -%> 

<div class="full-post">
    <h1 class="full-post-title title"> <%= title %> </h1>
    <h3 class="full-post-author author"><b><i> - <%= author %> </i></b></h3>
    <img class="full-post-img" src=" <%= img %> "/>
    <p class="full-post-body content"> <%= body %> </p>
</div>

<%- include('partials/footer'); -%> 